body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------------  HEADER  -------------- */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  /* width: 1158px;
  padding: 0 15px; */
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.header-nav-logo,
.header-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0;
}
.header-nav-logo {
  color: #4d5ae5;
  /* margin-right: 76px; */
}
.header-accent {
  color: #2e2f42;
}
.header-nav-list {
  display: none;
}
.header-nav-item,
.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-nav-item {
  font-weight: 500;
}
.address {
  display: none;
}

/* .address-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 24px 0;
} */
.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .open-menu-btn {
    display: none;
  }
  .header-nav-logo {
    margin-right: 120px;
  }
  .header-nav-list {
    display: flex;
    gap: 40px;
  }
  .header-nav-link {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #404bbf;
  }

  .header-nav-link:active,
  .header-nav-link:focus {
    text-decoration: underline;
  }
  .header-nav-link.current {
    color: #404bbf;
    position: relative;
  }
  .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    display: block;
    border-radius: 2px;
  }
  .address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .header-nav-logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}
/* ----------------  MOBMENU  -------------- */
.mob-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  padding: 72px 24px 40px 16px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mob-nav {
  flex-grow: 1;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mob-link:active,
.mob-link:focus {
  color: #404bbf;
}
.mob-link.current {
  color: #404bbf;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  text-decoration: none;
}
.mob-address-link:active,
.mob-address-link:focus {
  color: #4d5ae5;
}
.mob-address-link.current {
  color: #404bbf;
}
.icon-list-mob {
  display: flex;
  gap: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.icon-link-mob {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon-mob {
  fill: #ffffff;
}
/* ----------------  MOBMENU  -------------- */
/* ----------------  HEADER  -------------- */

/* ----------------  HERO  -------------- */
.hero {
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/1x-2x/Dark-hero-mobile-bg-1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 767px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px;
}
.hero-button {
  color: #fff;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:active,
.hero-button:focus {
  background-color: #404bbf;
  /* font-weight: 600;
  cursor: pointer; */
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/1x-2x/Dark-hero-mobile-bg-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/1x-2x/Dark-hero-tablet-bg-1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/1x-2x/Dark-hero-tablet-bg-2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/1x-2x/Dark-hero-fullsize-bg-1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/1x-2x/Dark-hero-fullsize-bg-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/1x-2x/Dark-hero-tablet-bg-1x.jpg);
    max-width: 1157px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/1x-2x/Dark-hero-fullsize-bg-1x.jpg);
    max-width: 1440px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 48px;
  }
}
/* ----------------  HERO  -------------- */

/* ----------------  ADVANTAGES  -------------- */
.advantages {
  padding: 96px 0;
}
.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.advantages-item-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.features-icon-field {
  display: none;
}

/* ----------------  ADVANTAGES  -------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: block;
}
.advantages-item:not(:last-child) {
  margin-bottom: 72px;
}
.advantages-subtitle {
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .advantages-subtitle {
    text-align: left;
  }
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }
  .advantages-list {
    display: flex;
    gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-icon-field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .advantages-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
/* ----------------  ADVANTAGES  -------------- */

/* ----------------  OUR TEAM  -------------- */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-item {
  background-color: #ffffff;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}
.team-list-item:not(:last-child) {
  margin-bottom: 72px;
}
.team-list-content {
  padding: 32px 0;
}
.team-list-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.list-item-social {
  width: 40px;
  height: 40px;
}
.team-list-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon:hover {
  background-color: #404bbf;
}

.team-list-icon:focus {
  background-color: #404bbf;
}

.icon-icon {
  fill: #f4f4fd;
}
@media only screen and (min-width: 768px) {
  .team {
    padding: 96px 0;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .team-list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .team-list-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}
/* ----------------  OUR TEAM  -------------- */

/* ----------------  PORTFOLIO  -------------- */
.portfolio {
  padding: 96px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: block;
}
.portfolio-item {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }
  .portfolio-item {
    /* width: 356px; */
    width: calc((100% - 24px) / 2);
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    /* width: 360px; */
    width: calc((100% - 72px) / 3);
    box-shadow: none;
  }
}
/* ----------------  PORTFOLIO  -------------- */

/* ----------------  FOOTER  -------------- */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-link {
  font-family: "Raleway", sans-serif;
}
.footer-link,
.footer-accent {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-accent,
.footer-title {
  color: #f4f4fd;
}
.footer-link {
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
  color: #f4f4fd;
}
.social-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: #31d0aa;
}
.social-link:focus {
  background-color: #31d0aa;
}
.social-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-email::placeholder {
  color: #ffffff;
}
.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}
.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
@media only screen and (max-width: 768px) {
  .content-wrap,
  .social-content,
  .footer-form-subscribe {
    text-align: center;
  }
  .content-wrap,
  .social {
    margin-bottom: 72px;
  }
  .footer-title {
    text-align: left;
  }
  .footer-form-button {
    margin: 0 auto;
  }
  .subscribe-email {
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .content-wrap,
  .social-content,
  .footer-form-subscribe {
    text-align: left;
  }
  .content-wrap,
  .social,
  .subscribe-email {
    margin-bottom: 0;
  }
  .subscribe-email {
    width: 264px;
  }
  .footer {
    padding: 96px 93px;
  }
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: baseline;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-wrap {
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer-title {
    max-width: 264px;
  }
  .footer-form-subscribe {
    margin-left: 80px;
  }
  .content-wrap {
    margin-right: 120px;
  }
  .social-list {
    display: flex;
    gap: 16px;
  }
}
/* ----------------  FOOTER  -------------- */

/* ----------------  MODAL WINDOW  -------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
.modal-button {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}
/* .modal-button:hover + .modal-icon {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
} */
.modal-button:hover > .modal-icon,
.modal-button:focus > .modal-icon {
  fill: #ffffff;
  /* background-color: #404bbf;
  border: none; */
}
.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .modal-icon:hover {
  fill: #ffffff;
}
.modal-icon:focus {
  fill: #ffffff;
} */
/* .modal-wrapper {
  padding: 72px 24px 24px 24px;
} */
.modal-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form-input {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  position: relative;
}
.user-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-input:focus {
  border-color: #4d5ae5;
}
.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-area {
  margin-bottom: 16px;
}
.modal-text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area:focus {
  border-color: #4d5ae5;
}
.modal-field-check {
  margin-bottom: 24px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.modal-icon-wrap {
  margin-right: 8px;
}

.check-text .modal-icon-wrap {
  display: flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-check:focus + .check-text span {
  border-color: #4d5ae5;
}
.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-icon {
  border-radius: 2px;
  /* fill: #404bbf; */
}

.policy-link {
  flex-shrink: 0;
  color: #4d5ae5;
  text-decoration: underline;
  line-height: 1.34;
  text-decoration-skip-ink: none;
  margin-left: 4px;
}
.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #404bbf;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
@media only screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
/* ----------------  MODAL WINDOW  -------------- */
